<% include ./partials/header %> 
<h1>Sign Up Form</h1>
<div>
    <form action='/register' method='post'>
        <label for="username">Username</label>
        <input type="text" name="username" >
        <label for="password">Password</label>
        <input type="password" name="password" >

        <button>Sign Up</button>
    </form> 
    
</div>

<% include ./partials/footer %>